a {
  &:link {
    transition: transform, .3s;
    text-decoration: none;
    color: var(--light-accent);
    font-weight: bold;
  }

  &:visited {
    transition: transform, .3s;
    text-decoration: none;
    color: var(--dark-accent);
  }

  &:hover, :active {
    transition: transform, .3s;
    text-decoration: none;
    color: var(--light-color);
    font-weight: normal;
    background-color: var(--dark-accent);
  }
}

.social:hover {
  text-decoration: none;
  background-color: transparent;
}