@import "style";

a {
	&:link {
		font-weight: bold;
		transition: transform, .3s;
		text-decoration: none;
		color: $light-accent;
	}

	&:visited {
		transition: transform, .3s;
		text-decoration: none;
		color: $dark-accent;
	}

	&:hover, :active {
		font-weight: normal;
		transition: transform, .3s;
		text-decoration: none;
		color: $light-color;
		background-color: $dark-accent;
	}
}

.social:hover {
	text-decoration: none;
	background-color: transparent;
}