$light-color: #eee;
$dark-color: #444;
$light-accent: #ff6f00;
$dark-accent: #cb6722;

// styles the main page
body { margin: auto auto }

/// something
@mixin center {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#page {
	@include center;

	font-family: jetbrains-mono, sans-serif;
	font-size: 1.13em;
	min-width: 100vw;
	max-width: 50%;
	min-height: 100vh;
}

// Styles the projects div
#projects {
	@include center;

	max-width: 50%;
	margin: 1.575em;
	border: 0.12em solid $light-accent;
}

// Keeps things spaced out where needed
h1, h2, h3, h4, h5, h6 { margin: 10px }

a.social { margin: 0.7em }

li.projects, ul.projects {
	padding-top: 0.15em;
	padding-right: 0.15em;
	padding-bottom: 0.15em;
}

#projects-title, #title { margin-top: 0.75em }

// Makes the logo image circular
#logo { border-radius: 50% }

img.social {
	// Animation
	transition: transform .2s;

	&:hover { transform: scale(0.8) }
}

// Makes sure my make-shift footer still looks good
#reach-out {
	font-size: 14px;
	margin-bottom: 30px;
}