$light-color: #eee;
$dark-color: #444;
$light-accent: #ff850d;
$dark-accent: #c76e15;

// styles the main page
body { margin: auto auto }

/// something
@mixin center {
	display: grid;
	place-items: center;
}

#page {
	@include center;

	font-family: jetbrains-mono, "Fira Code", monospace;
	font-size: 1.13em;
	max-width: 50%;
	//noinspection CssUnknownProperty
	min: {
		width: 100vw;
		height: 100vh;
	}
}

// Styles the projects div
#projects {
	@include center;

	max-width: 50%;
	margin: .1em;
	border: .12em solid $light-accent;
}

li.projects {
	padding: {
		top: .15em;
		right: .15em;
		bottom: .15em;
	}
}

#title {
	font: {
		size: 2em;
		weight: bold;
	}
	margin-top: .25em;
}

#projects-title {
	font: {
		size: 1.17em;
		weight: bold;
	}
}

#subtitle { margin: .05em }

i { font-family: jetbrains-mono-i, monospace }