@use "vars";
@use "mixins" as *;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

*, *::before, *::after { box-sizing: border-box }

// styles the main page
body {
	margin: 0;
	background: vars.$dark-color;
	color: vars.$light-color;
	font-family: vars.$font-family;
	min-inline-size: fit-content;
	scroll-behavior: smooth;
	accent-color: vars.$accent;
	color-scheme: dark;

	min-block-size: 100dvh;

	@supports not (min-block-size: 100dvh) {
		min-block-size: 100vh;
	}
}

a {
	color: vars.$accent;
	font-weight: bold;
	transition: text-decoration-color 300ms;

	&:link, &:visited {
		text-decoration: underline transparent;

		@media (prefers-reduced-motion: reduce) {
			text-decoration-color: currentColor;
		}
	}

	&:hover, &:active {
		text-decoration-color: currentColor;
	}
}

hr {
	@include accent-border;

	border-style: solid;
	border-radius: 1rem;
	color: vars.$accent;
}

::-webkit-scrollbar {
	inline-size: 1rem;

	&-track {
		border-radius: 100vh;
		background: darken(vars.$dark-color, 10%);
	}

	&-thumb {
		border: 4px solid darken(vars.$dark-color, 10%);
		border-radius: 14px;
		background: vars.$accent;
	}

	&-corner {
		background: vars.$dark-color;
	}

	&:horizontal {
		background: transparent;
	}
}