@use "vars";

$tip-color: hsl(162, 63%, 41%);
$warn-color: hsl(42, 87%, 50%, 0.9);
$error-color: hsl(0, 83%, 50%);

@mixin hints {
	:global {
		p.hint {
			&.tip,
			&.error,
			&.warn {
				line-height: 1.6rem;
				background: darken(transparentize(vars.$dark-color, .5), 5%);
				border-radius: 5vh;
				inline-size: 100%;
				padding-block: .5rem;
				padding-inline: 1rem;

				&:before {
					border-radius: 50%;
					padding-inline: .5ch;
					margin-inline-end: 1ch;
				}
			}

			&.tip:before {
				content: "*";
				background-color: $tip-color;
			}

			&.warn:before {
				content: "?";
				background-color: $warn-color;
			}

			&.error:before {
				content: "!";
				background-color: $error-color;
			}
		}
	}
}