@use "vars";

// centers an element using CSS grid
@mixin center($dir: column, $gap: .75rem, $place: space-evenly) {
	display: flex;
	flex-direction: $dir;
	justify-content: $place;
	align-items: center;
	gap: $gap;
}

@mixin accent-border($width: .2rem) {
	outline: $width solid vars.$accent;
}