@use "mixins";
@use "vars";

#search-bar {
	@include mixins.accent-border($outset: true);

	justify-self: end;
	margin-top: 1.5rem;
	padding: .5rem;
	background: inherit;
	color: vars.$light-color;
	font: {
		family: vars.$font-family;
		weight: 500;
	}
	margin-inline: auto 1rem;

	.isLight { color: vars.$dark-color }

	&:focus-visible {
		outline: none;
		box-shadow: 2.5px 2.5px 7.5px 0 #f70;
	}

	@media (prefers-reduced-motion: no-preference) {
		transition: box-shadow .25s ease-in-out;
	}
}