@use "vars";

a {
	font-weight: bold;
	color: vars.$accent;
	transition: text-decoration-color 300ms;

	&:link, &:visited {
		text-decoration: underline transparent;
	}

	&:hover, &:active {
		text-decoration-color: currentColor;
	}
}