@use "vars";

:global {
	a {
		color: vars.$accent;
		font-weight: bold;
		transition: text-decoration-color 300ms;

		&:link, &:visited {
			text-decoration: underline transparent;

			@media (prefers-reduced-motion: reduce) {
				text-decoration-color: currentColor;
			}
		}

		&:hover, &:active {
			text-decoration-color: currentColor;
		}
	}
}