@use "style";
@use "vars";

a {
	transition: transform, .3s;

	&:link, &:visited {
		font-weight: bold;
		text-decoration: none;
		color: vars.$accent;

		&.isLight { color: vars.$dark-accent }
	}

	&:hover, &:active {
		font-weight: normal;
		text-decoration: underline;
		color: vars.$accent;
	}
}