@use "vars";

$tip-color: hsl(162, 63%, 41%);
$warn-color: hsl(42, 87%, 50%, 0.9);
$error-color: hsl(0, 83%, 50%);

@mixin hints {
	:global {
		p.hint {
			&.tip,
			&.error,
			&.warn {
				line-height: 1.6rem;
				background: darken(transparentize(vars.$dark-color, .5), 5%);
				border: solid 4px;
				border-radius: 100vh;
				inline-size: fit-content;
				padding-block: .5rem;
				padding-inline: 1.5rem 1rem;

				&:before {
					border-radius: 50%;
					padding-inline: .5ch;
					margin-inline-end: 1ch;
				}
			}

			&.tip {
				border-color: $tip-color;

				&:before {
					content: "*";
					background-color: $tip-color;
				}
			}

			&.warn {
				border-color: $warn-color;

				&:before {
					content: "?";
					background-color: $warn-color;
				}
			}

			&.error {
				border-color: $error-color;

				&:before {
					content: "!";
					background-color: $error-color;
				}
			}
		}
	}
}