@use "vars";

$tip-color: hsl(162, 63%, 41%);
$warn-color: hsl(42, 87%, 55%);
$error-color: hsl(0, 83%, 62%);

@mixin hints($is-light: false) {
	:global {
		p.hint {
			&.tip,
			&.error,
			&.warn {
				line-height: 1.6rem;
				transition: background-color .5s ease;

				@if not $is-light {
					background: hsla(0, 0%, 7%, 0.5);
					border-inline-start: solid 4px hsla(0, 0%, 35%, 0.5);
					border-block: solid 4px hsla(0, 0%, 35%, 0.5);
				} @else {
					background: hsla(0, 0%, 93%, 0.5);
					border-inline-start: solid 4px hsla(0, 0%, 65%, 0.5);
					border-block: solid 4px hsla(0, 0%, 65%, 0.5);
				}

				border-inline-start-style: solid;
				border-inline-start-width: 5px;
				border-radius: 4px 1rem 1rem 4px;

				padding: .5rem .5rem .5rem 1.5rem;
				margin-block-end: 1rem;
				position: relative;

				&:before {
					border-radius: 50%; // circular
					position: absolute;
					color: white;
					font: {
						size: 1rem;
						weight: bold;
					}
					inset-block-start: 12px;
					inset-inline-start: -12px;
					line-height: 20px;
					height: 20px;
					width: 20px;
					text-align: center;
				}
			}

			&.tip {
				border-inline-start-color: $tip-color;

				&:before {
					content: "*";
					background-color: $tip-color;
				}
			}

			&.warn {
				border-inline-start-color: $warn-color;

				&:before {
					content: "?";
					background-color: $warn-color;
				}
			}

			&.error {
				border-inline-start-color: $error-color;

				&:before {
					content: "!";
					background-color: $error-color;
				}
			}
		}
	}
}