@use "vars";

// centers an element using CSS grid
@mixin center($row-gap: .75rem) {
	display: grid;
	place-items: center;
	grid-row-gap: $row-gap;
}

@mixin accent-border {
	border: .2rem solid vars.$accent;
}