$light-color: #eee;
$dark-color: #444;
$light-accent: #ff850d;
$dark-accent: #c76e15;

// styles the main page
body {
	margin: auto auto;
}

/// something
@mixin center {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: space-between;
	justify-content: space-between;
}