$light-color: hsl(0, 0%, 85%);
$dark-color: lighten(black, 17%);
$accent: hsl(28, 100%, 50%);
$light-accent: lighten($accent, 5%);
$dark-accent: darken($accent, 5%);

$font-family: jetbrains-mono, "Cascadia Code", "Consolas", "Fira Code", monospace;