@use "../fonts/jb-mono";

$light-color: hsl(0deg, 0%, 85%);
$dark-color: lighten(black, 17%);
$accent: hsl(28deg, 100%, 50%);
$light-accent: lighten($accent, 5%);
$dark-accent: darken($accent, 5%);

$font-family: "Jetbrains Mono", jetbrains-mono, "Consolas", "Fira Code", "Cascadia Code", monospace;